@mixin flexboxCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flexboxSpaceBetween() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin mediaQuery950() {
  @media (max-width: 950px) {
    @content;
  }
}
@mixin mediaQuery830() {
  @media (max-width: 830px) {
    @content;
  }
}
@mixin mediaQuery550() {
  @media (max-width: 550px) {
    @content;
  }
}
